<!DOCTYPE html>
<html>

<head>
  <title>New Sails App</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%/* <meta name="robots" content="noindex"> */%>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/geomap.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Radioactive Maps</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Maps<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Analytics
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Heat Map</a>
            <a class="dropdown-item" href="#">Radioactivity Map</a>
            <a class="dropdown-item" href="#">Graphs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Get a subscription</a>
          </div>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </nav>
  <%- body %>

  <!--SCRIPTS-->
  <script src="/dependencies/sails.io.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrapValidator.min.js"></script>
  <script src="/js/Chart.bundle.min.js"></script>
  <script src="/js/geomap.js"></script>
  <script src="/js/jquery-3.3.1.slim.min.js"></script>
  <script src="/js/jquery.validate.min.js"></script>
  <script src="/js/mapsAPI.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/popup_api.js"></script>
  <!--SCRIPTS END-->

  <!-- Footer -->
  <footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="#"> Team iRAM for NASA Space Apps Challenge</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>

</html>