<!-- Author: Jay Sharma (B00824331) -->

<!DOCTYPE html>
<html lang=en>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>

	<link rel="stylesheet" href="/styles/importer.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="/styles/geomap.css">

	<script src="/js/popup_api.js"></script>
	<script src="/js/mapsAPI.js"></script>
	<script src="/js/geomap.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrapValidator.min.js"></script>
	<script src="/js/Chart.bundle.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/popper.min.js"></script>

	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwv5JTuqQnKO-3eHRGNXcbUOxmuh6KsRA&libraries=places&callback=autofill_address"
		async defer></script>

	<!-- From Tutorial 2 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwv5JTuqQnKO-3eHRGNXcbUOxmuh6KsRA"></script>



	<title>Donor+</title>

	<style>
		div {
			padding-top: 0px;
			padding-right: 0px;
			padding-bottom: 0px;
			padding-left: 10px;
		}

		h5 {
			color: #0e6382;
		}

		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			text-align: center;
			background-color: #dce7ea;
			color: #000;
		}

		#map {
			height: 100%;
		}

		/* Optional: Makes the sample page fill the window. */
		html,
		body {
			height: 100%;
			margin: 0;
			padding: 0;
		}
	</style>

</head>

<body>
	<!-- https://www.w3schools.com/bootstrap/bootstrap_grid_basic.asp -->
	<div class="container-fluid">
		<br>
		<div class="row">
			<div class="col-sm-3">
				<div class="row">
					<h5>Nova Scotia</h5>
				</div>

				<div class="row">
					<button onclick="popup('Halifax')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Halifax</button>
					<button onclick="popup('Yarmouth')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Yarmouth</button>
					<button onclick="popup('Dartmouth')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Dartmouth</button>
					<button onclick="popup('Lunenburg')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Lunenburg</button>
					<button onclick="popup('Truro')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Truro</button>
					<button onclick="popup('Wolfville')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Wolfville</button>
				</div>
				<br>

				<div class="row">
					<h5>Ontario</h5>
				</div>

				<div class="row">
					<button onclick="popup('Chalk River')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Chalk River</button>
					<button onclick="popup('Tiverton')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Tiverton</button>
					<button onclick="popup('Pickering')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Pickering</button>
					<button onclick="popup('Port Hope')" type="button" class="btn btn-outline-info mr-sm-2 mb-sm-2">Port
						Hope</button>
					<button onclick="popup('Toronto')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Toronto</button>
					<button onclick="popup('Darlington')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Darlington</button>
					<button onclick="popup('Brampton')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Brampton</button>
				</div>
				<br>

				<div class="row">
					<h5>Alberta</h5>
				</div>

				<div class="row">
					<button onclick="popup('Edmonton')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Edmonton</button>
					<button onclick="popup('Calgary')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Calgary</button>
				</div>
				<br>

				<div class="row">
					<h5>British Columbia</h5>
				</div>

				<div class="row">
					<button onclick="popup('Vancouver')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Vancouver</button>
					<button onclick="popup('Kelowna')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Kelowna</button>
					<button onclick="popup('Victoria')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Victoria</button>
				</div>
				<br>

				<div class="row">
					<h5>Quebec</h5>
				</div>

				<div class="row">
					<button onclick="popup('Montreal')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Montreal</button>
					<button onclick="popup('Quebec City')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Quebec City</button>
					<button onclick="popup('Sherbrooke')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Sherbrooke</button>
					<button onclick="popup('Trois-Rivières')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Trois-Rivières</button>
				</div>
				<br>

				<div class="row">
					<h5>Saskatchewan</h5>
				</div>

				<div class="row">
					<button onclick="popup('Regina')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Regina</button>
					<button onclick="popup('Saskatoon')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Saskatoon</button>
					<button onclick="popup('Yorkton')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Yorkton</button>
				</div>
				<br>

				<div class="row">
					<h5>Manitoba</h5>
				</div>

				<div class="row">
					<button onclick="popup('Pinawa')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Pinawa</button>
					<button onclick="popup('Brandon')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Brandon</button>
					<button onclick="popup('Thompson')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Thompson</button>
				</div>
				<br>

				<div class="row">
					<h5>New Brunswick</h5>
				</div>

				<div class="row">
					<button onclick="popup('Fredericton')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Fredericton</button>
					<button onclick="popup('Saint John')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Saint John</button>
				</div>
				<br>

				<div class="row">
					<h5>Newfoundland</h5>
				</div>

				<div class="row">
					<button onclick="popup('St. Johns')" type="button" class="btn btn-outline-info mr-sm-2 mb-sm-2">St.
						John's</button>
					<button onclick="popup('Labrador')" type="button"
						class="btn btn-outline-info mr-sm-2 mb-sm-2">Labrador</button>
				</div>
				<br>



			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="card" id="geomap">
						<div class="row no-gutters">
							<!-- <div id="geomap"></div> -->
							<script async defer
								src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwv5JTuqQnKO-3eHRGNXcbUOxmuh6KsRA&callback=initMap"></script>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<form accept-charset="UTF-8" method="get">
							<div class="input-group">
								<input class="form-control search_addr" style="border-radius: 4px" type="text"
									id="search_location" placeholder="Search Location" required>
								<div class="input-group-btn">
									<button value="Locate" id="locate"
										class="btn btn-warning my-2 my-sm-0 btn-default get_map"
										type="submit">Locate</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<br>

				<br>
				<h5 id="address-tag">Free Maps for Download</h5><br>

				<div class="row">
					<div class="card" style="width: auto;">
						<div class="row no-gutters">
							<div class="col-sm-3">
								<img src="/images/Page_54b.jpg" class="img-fluid" alt="">
							</div>
							<div class="col-auto">
								<div class="card-body">
									<br>
									<h5 class="card-title">Canada Heat Map</h5>
									<h6 class="card-subtitle mb-2 text-muted">19 October 2019</h6>
									<p class="card-text">Captured 09:00 - 13:00</p>
								</div>
							</div>
							<div class="col-auto">
								<div class="card-body">
									<br><br>
									<h6 class="card-subtitle text-muted my-auto">5776 Datapoints</h6>
								</div>
							</div>
							<div class="col">
								<div class="card-body">
									<br><br>
									<h6 class="card-subtitle my-auto">Accuracy 200 m</h6>
								</div>
							</div>
							<div class="col">
								<div class="card-body"><br>
									<form action="inventory">
										<button type="button" class="btn btn-warning mt-3">View</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<br>
			</div>
			<br><br><br><br>
		</div>
	</div>
	</div>


</body>

</html>